.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.category-screen {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.single-category {
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    border: solid black 1px;
}